<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true" >
  <div class="avatar" (click)="uploadAvatar()">
    <ion-avatar >
      <img *ngIf="profile?.image; else placeholder_avatar;" [src]="profile.image" />
      <ng-template #placeholder_avatar>
        <div class="no-avatar">
          <p>click me!</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>

  
  <div class="container" *ngIf="usuario " >
    <ion-list>
      <ion-label>
        Rut:<ion-input type="text" [(ngModel)]="usuario.rut"></ion-input>
      </ion-label>
      <ion-label>
        Nombre:<ion-input type="text" [(ngModel)]="usuario.name"></ion-input>
      </ion-label>
      <ion-label>
        Apellido:<ion-input type="text" [(ngModel)]="usuario.lastname"></ion-input>
      </ion-label>
      <ion-label>
        Genero:<ion-input type="text" [(ngModel)]="usuario.gender"></ion-input>    
      </ion-label>
      <ion-label>
        Edad:<ion-input type="text" [(ngModel)]="usuario.age"></ion-input> 
      </ion-label>
      <ion-label *ngIf="usuario.perfil == 'profesor'">
        asignatura:<ion-input type="text" [(ngModel)]="usuario.asignatura"></ion-input> 
      </ion-label>
      <ion-label>
        Correo:<ion-input  type="text" [(ngModel)]="usuario.email"></ion-input>    
      </ion-label>
      <ion-label>
        direccion:<ion-input type="text" [(ngModel)]="usuario.direccion"></ion-input> 
      </ion-label>
      <ion-label>
        comuna:<ion-input type="text" [(ngModel)]="usuario.comuna"></ion-input> 
      </ion-label>
      <ion-label>
        telefono:<ion-input type="text" [(ngModel)]="usuario.telefono"></ion-input> 
      </ion-label>
      <ion-label>
        Usted es :<ion-input type="text" [(ngModel)]="usuario.perfil"></ion-input> 
      </ion-label>
      <ion-label>
        Link Imagen:<ion-input disabled="true" type="text" [(ngModel)]="usuario.image"></ion-input>
      </ion-label>
    </ion-list>
    
    <ion-button color="warning" expand="full"(click)="updateUsuario()" *ngIf="rol == 'alumno' ">Actualizar</ion-button>
  </div>

  <ion-button color="warning" expand="full"(click)="asistencia()" *ngIf="rol == 'alumno' ">Asistencia</ion-button>


</ion-content>