<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
  <div class="avatar">
    <ion-avatar >
      <img *ngIf="profile?.image; else placeholder_avatar;" [src]="profile.image" />
      <ng-template #placeholder_avatar>
        <div class="no-avatar">
          <p>click me!</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>


  <div class="container" *ngIf="usuario " >
    <ion-list>
      <ion-label>
        Rut:<ion-input disabled="true" type="text" [(ngModel)]="usuario.rut"></ion-input>
      </ion-label>
      <ion-label>
        Nombre:<ion-input disabled="true" type="text" [(ngModel)]="usuario.name"></ion-input>
      </ion-label>
      <ion-label>
        Apellido:<ion-input disabled="true" type="text" [(ngModel)]="usuario.lastname"></ion-input>
      </ion-label>
      <ion-label>
        Genero:<ion-input disabled="true" type="text" [(ngModel)]="usuario.gender"></ion-input>    
      </ion-label>
      <ion-label>
        Edad:<ion-input disabled="true" type="text" [(ngModel)]="usuario.age"></ion-input> 
      </ion-label>
      <ion-label *ngIf="usuario.perfil == 'profesor'">
        asignatura:<ion-input disabled="true" type="text" [(ngModel)]="usuario.asignatura"></ion-input> 
      </ion-label>
      <ion-label>
        Correo:<ion-input disabled="true" type="text" [(ngModel)]="usuario.email"></ion-input>    
      </ion-label>
      <ion-label>
        direccion:<ion-input disabled="true" type="text" [(ngModel)]="usuario.direccion"></ion-input> 
      </ion-label>
      <ion-label>
        comuna:<ion-input disabled="true" type="text" [(ngModel)]="usuario.comuna"></ion-input> 
      </ion-label>
      <ion-label>
        telefono:<ion-input disabled="true" type="text" [(ngModel)]="usuario.telefono"></ion-input> 
      </ion-label>
      <ion-label>
        Usted es :<ion-input disabled="true" type="text" [(ngModel)]="usuario.perfil"></ion-input> 
      </ion-label>
    </ion-list>
    

  </div>

  <ion-button (click)="crudadmin()" *ngIf="rol == 'profesor' ">Alumnos</ion-button>
  <ion-button (click)="verAsistencia()" *ngIf="rol == 'profesor' ">Asistencia Alumnos</ion-button>

</ion-content>