<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons *ngIf="isNotHome" slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="logout()" *ngIf="isNotHome">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{pageTitle}}</ion-title>
    <img class="logo-header" src="../../../assets/Negro con Dorado Círculo Inmobiliaria Logo.svg" alt="Logo">

  </ion-toolbar>
</ion-header>