<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>


<ion-content>

  <ion-card>
    <img src="../../../assets/integrantes/detalle/trigonzalov2jpg.jpg" alt="imagen del Bastián">
    <ion-card-header>
      <ion-card-subtitle color="warning">quiere ser streamer, nunca stremea</ion-card-subtitle>
      <ion-card-title>Gonzalo Nicolás Fuentes Alarcón</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="medium">
        carrera: ingeniería en informática<br>
        edad: 18.5 (24)
      </ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-text color="medium">encargado de realizar el login y "creó" un componente, ademas del home. jugaba lol mientras sus compañeros terminaban la app</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer><ion-card>
  <ion-button color= "warning" shape="round" size="small" fill="outline" href="/about">volver
  <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
</ion-button></ion-card></ion-footer>
