<ion-header>
  <ion-toolbar>
    <ion-title>detalles Gonzalo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../../assets/integrantes/detalle/trigonzalov2jpg.jpg" alt="imagen del Bastián">
    <ion-card-header>
      <ion-card-subtitle color="warning">quiere ser streamer, nunca stremea</ion-card-subtitle>
      <ion-card-title>Gonzalo Fuentes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="medium">encargado de realizar el login y "creó" un componente, ademas del home.</ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
