<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>


<ion-content>

  <ion-card>
    <img src="../../../assets/integrantes/detalle/tomy.jpg" alt="no quiso enviar su foto">
    <ion-card-header>
      <ion-card-subtitle color="warning">lo confundieron con el Bastián una vez, no es moreno de piel, pero si de apellido</ion-card-subtitle>
      <ion-card-title>Tomas 'enrique' Moreno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="medium">encargado de realizar la carga de la pagina y el Coversor que no es nada pero bueno</ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
