<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-avatar>
      <img src="../../../assets/integrantes/test.jpg" alt="no carga ;~;">
    </ion-avatar>
    <ion-label>
      <h2>Bastián Bouffanais</h2>
      <i><h4>zangano</h4></i>
    </ion-label>

    <ion-button color= "warning" shape="round" size="small" fill="outline" (click)="DetBast()">más informacion
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-avatar>
      <img src="../../../assets/integrantes/trigonzalo.jfif" alt="no carga ;~;">
    </ion-avatar>
    <ion-label>
      <h2>Gonzalo Fuentes</h2>
      <i><h4>Trigonzalo</h4></i>
    </ion-label>
  
    <ion-button color= "warning" shape="round" size="small" fill="outline" (click)="detGonz()">más informacion
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-avatar>
      <img src="../../../assets/integrantes/te estoy mirando feo.jfif" alt="no carga ;~;">
    </ion-avatar>
    <ion-label>
      <h2>Tomas Moreno</h2>
      <i><h4>pucha po</h4></i>
    </ion-label>
  
    <ion-button color= "warning" shape="round" size="small" fill="outline" (click)="DetToma">más informacion
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>

