<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>About</ion-title>
  </ion-toolbar>
  
</ion-header>


<ion-content>

  <ion-card>
    <ion-avatar>
      <img src="../../../assets/integrantes/avatar/hola.jpg" alt="no carga ;~;">
    </ion-avatar>
    <ion-label>
      <h2>Bastián Bouffanais</h2>
      <i><h4>zangano</h4></i>
    </ion-label>

    <ion-button color= "warning" shape="round" size="small" fill="outline" (click)="DetBastian()">más informacion
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-avatar>
      <img src="../../../assets/integrantes/avatar/trigonzalov1.jpg" alt="no carga ;~;">
    </ion-avatar>
    <ion-label>
      <h2>Gonzalo Fuentes</h2>
      <i><h4>Trigonzalo</h4></i>
    </ion-label>
  
    <ion-button color= "warning" shape="round" size="small" fill="outline" (click)="DetGonzalo()">más informacion
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-avatar>
      <img src="../../../assets/integrantes/avatar/tomy.jpg" alt="no carga ;~;">
    </ion-avatar>
    <ion-label>
      <h2>Tomas Moreno</h2>
      <i><h4>alias: "Tomas Enrique"</h4></i>
    </ion-label>
  
    <ion-button color= "warning" shape="round" size="small" fill="outline" (click)="DetTomas()">más informacion
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>

