<ion-header>
    <ion-toolbar>
      <ion-title>{{pageTitle}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
    <ion-list>
      <h1>
        conversor de monedas
      </h1>
        <ion-item>
          <ion-label>
            <h3>Valor del euro: {{valorMonedaEuro}}$
            </h3>
            <h3>
              Valor del dolar: {{valorMonedaDolar}}$
            </h3>
            <h3>
              valor del UF: {{valorMonedaUF}}$
            </h3>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select placeholder="Seleccione el tipo de cambio">
              <ion-select-option id="dolar" value="dolar">Dolar</ion-select-option>
              <ion-select-option id="euro" value="euro">Euro</ion-select-option>
              <ion-select-option id="uf" value="uf">UF</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <p>Ingrese monto:</p>
        <input type="number" [(ngModel)]="valor" min="1" placeholder="0" id="valor">
        <ion-button id="convertidor" (click)="cargarValorMonedas()">Convertir</ion-button>
    </ion-list>
</ion-content>
