<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-list>
      <h1>
        conversor de monedas
      </h1>
        <ion-item>
          <ion-label>
            <h3>Valor del euro: {{valorMonedaEuro}}$
            </h3>
            <h3>
              Valor del dolar: {{valorMonedaDolar}}$
            </h3>
            <h3>
              valor del UF: {{valorMonedaUF}}$
            </h3>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select id="opcion" placeholder="Seleccione el tipo de cambio">
              <ion-select-option id="dolar">Dolar</ion-select-option>
              <ion-select-option id="euro">Euro</ion-select-option>
              <ion-select-option id="uf">UF</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-label>
          <p>Ingrese monto:</p>
          <input type="number" [(ngModel)]="valor" min="1" placeholder="0">
          <ion-button id="convertidor" (click)="obtenerValorMoneda()">Convertir</ion-button>
        </ion-label>
    </ion-list>
</ion-content>
