
<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>
  
<ion-content>
    <ion-list>
      <ion-text color="medium">
        <h1>
          conversor de monedas
        </h1>
      </ion-text>
        <ion-item>
          <ion-label>
            <ion-text color="warning">
              <h3>
                Valor del euro: ${{valorMonedaEuro}}
              </h3>
            </ion-text>
            <ion-text color="warning">
              <h3>
                Valor del dolar: ${{valorMonedaDolar}}
              </h3>
            </ion-text>
            <ion-text color="warning">
              <h3>
                valor del UF: ${{valorMonedaUF}}
              </h3>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select id="opcion" placeholder="Seleccione el tipo de cambio" [(ngModel)] = "moneda">
              <ion-select-option value="dolares">Dolar</ion-select-option>
              <ion-select-option value="euros">Euro</ion-select-option>
              <ion-select-option value="ufs">UF</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-label>
          <p>Ingrese monto:</p>
          <input type="number" [(ngModel)]="valor" min="1" placeholder="0">
          <ion-button color="warning"id="convertidor" (click)="obtenerValorMoneda(moneda)">Convertir</ion-button>
          <p>El resultado de la conversion es: ${{resultado1}} {{moneda}}</p>
        </ion-label>
    </ion-list>
</ion-content>
