<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>


<ion-content>

  <ion-card>
    <img src="../../../assets/integrantes/detalle/Bastian.JPG" alt="imagen del Bastián">
    <ion-card-header>
      <ion-card-subtitle color="warning">no puede programar una API del clima, nunca se calla</ion-card-subtitle>
      <ion-card-title>Bastián Bouffanais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="medium">encargado de realizar el about, y detalles de cada integrante.</ion-text>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer><ion-card>
  <ion-button color= "warning" shape="round" size="small" fill="outline" href="/about">volver
  <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
</ion-button></ion-card></ion-footer>